.check__icon, .check__box-icon, .check, .modal__button, .subscribe__list, .customers__link, .card__list, .specialty-list__title, .features__img, .button, .subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe__link, .card__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.container.header__container {
  position: relative;
  display: flex;
  align-items: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-padding-top {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .section--no-padding-top {
    display: none;
  }
}

.page {
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header.heder--border {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .connection-container {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

.connection {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .connection {
    flex-direction: column;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .connection {
    align-items: center;
    flex-direction: row;
    text-align: center;
    margin-left: auto;
  }
  .connection .connection__item + .connection__item {
    margin-left: 30px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .connection__item:not(:first-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .connection__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .connection__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.connection__link {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  align-items: center;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connection__link:hover, .connection__link:focus, .connection__link:active {
  color: #2196f3;
}
@media screen and (max-width: 359px) {
  .connection__link.connection__link--larger-font {
    color: #2196f3;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .connection__link.connection__link--larger-font {
    font-size: 34px;
    line-height: 1.17;
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .connection__link {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .connection__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .connection__icon {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}
@media screen and (min-width: 768px) {
  .connection__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item {
    position: relative;
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link.navigation__link--active {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .navigation__link.navigation__link--active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: block;
  color: #212121;
  text-decoration: none;
  list-style: none;
  margin-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus, .navigation__link:active {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .navigation__link {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
  }
}

.menu-container {
  width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px 48px 40px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateY(-101%);
  }
  .menu-container.is-open {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    flex-direction: row;
    justify-content: flex-end;
  }
}
.menu-container.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.menu-toggle .menu-toggle__icon :hover, .menu-container.menu-toggle .menu-toggle__icon :focus, .menu-container.menu-toggle .menu-toggle__icon :active {
  color: #2196f3;
}
@media (min-width: 768px) {
  .menu-container.menu-toggle {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container .menu-toggle .menu-toggle__icon :hover, .menu-container .menu-toggle .menu-toggle__icon :focus, .menu-container .menu-toggle .menu-toggle__icon :active {
  color: #2196f3;
}
@media (min-width: 768px) {
  .menu-container .menu-toggle {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle .menu-toggle__icon :hover, .menu-toggle .menu-toggle__icon :focus, .menu-toggle .menu-toggle__icon :active {
  color: #2196f3;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle__icon {
  fill: currentColor;
}

.social {
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .social {
    display: none;
  }
}

.social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.social__link {
  font-weight: 500;
  font-size: 4vw;
  line-height: 1.2;
  padding-right: 10px;
  text-decoration: none;
  color: #2196f3;
  letter-spacing: 0.02em;
}
.social__link.social__link--no-padding {
  padding-right: 0px;
}

.button, .subscribe-button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus, .subscribe-button:focus, .button:hover, .subscribe-button:hover {
  background-color: #1a8feb;
}

.subscribe-button__icon {
  margin-left: 10px;
}

.logo {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo.logo-heder {
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo.logo__dark {
  color: #000000;
}

.footer-address__logo {
  color: #ffffff;
}

.hero {
  padding: 118px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobil.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobil@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2f303a;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2f303a;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.features__img {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.specialty-list {
  display: flex;
  justify-content: space-between;
}

.specialty-list__item {
  position: relative;
}

.specialty-list__title {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  width: 100%;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.section--gray {
  background-color: #f5f4fa;
}

.team__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card__item {
  margin-right: 10px;
}
.card__link .card__item:last-child {
  margin-right: 0px;
}

.card__link {
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover, .card__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.card__icon {
  fill: currentColor;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.customers__link {
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus, .customers__link:active {
  color: #2196f3;
  border-color: #2196f3;
}

.customers__item {
  min-height: 92px;
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .customers__item {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.customers__icon {
  fill: currentColor;
}

.footer-section {
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .container.container--footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .container-address {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (max-width: 1199px) {
  .container-address {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer-address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
  }
}

.address__link {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus, .address__link:active {
  color: #2196f3;
}

.address__link--waite {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  margin-top: 20px;
}

.address__list .address__item:not(:last-child) {
  margin-bottom: 8px;
}

.subscribe__list .subscribe__item:last-child {
  margin-right: 0px;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__link:hover, .subscribe__link:active, .subscribe__link:focus {
  background-color: #2196f3;
}

.subscribe__item {
  margin-right: 10px;
}

.subscribe__icon {
  fill: #ffffff;
}

@media screen and (max-width: 1199px) {
  .form-subscribe {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscribe__container {
    display: flex;
    align-items: center;
  }
}

.form-subscribe__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.form-subscribe__mail {
  width: 100%;
  min-height: 50px;
  background-color: transparent;
  margin-bottom: 20px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscribe__mail:focus {
  border-color: #2196f3;
}
.form-subscribe__mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .form-subscribe__mail {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe__mail {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .modal {
    width: 98vw;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__button:hover .modal__icon, .modal__button:focus .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  padding: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}

.form__label {
  display: block;
  width: 100%;
  margin-bottom: 4px;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: #2196f3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__comment {
  display: block;
  margin-bottom: 20px;
}

.check {
  position: relative;
  margin-bottom: 30px;
}

.form__text {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__text:focus {
  border-color: #2196f3;
}

.check__text {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
  .check__text {
    font-size: 14px;
    line-height: 1.7;
  }
}

.check__box-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__input:checked + .check__text .check__box-icon {
  background-color: #2196f3;
  border-color: transparent;
}

.check__icon {
  fill: #ffffff;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-bottom: 15px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__item:nth-last-child(-n+2) {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .filter__item {
    margin-bottom: 0px;
  }
}

.filter__button {
  display: block;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter__button.filter__button--active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.project__item {
  background: #ffffff;
}
@media screen and (max-width: 767px) {
  .project__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .project__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.project__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__link:hover .project__text-overlay, .project__link:focus .project__text-overlay {
  transform: translateY(0);
}

.project-card__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-card__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
}

.project-card {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project__overlay {
  position: relative;
  overflow: hidden;
}

.project__text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  padding: 64px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 320px) {
  .project__text-overlay {
    font-size: 12px;
    padding: 33px 10px;
    height: 100%;
  }
}
@media screen and (min-width: 321px) and (max-width: 370px) {
  .project__text-overlay {
    font-size: 16px;
    padding: 33px 10px;
    height: 100%;
  }
}/*# sourceMappingURL=main.css.map */