:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-waite-color: #ffffff;
  --icon-color: #afb1b8;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

img {
  height: auto;
  display: block;
  min-width: 100%;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page {
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/************** Navigation section ***************/
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.connection-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.container.nav {
  display: flex;
  align-items: center;
}
.connection-nav .item + .item {
  margin-left: 30px;
}
.nav-link.active {
  color: var(--accent-color);
}
.nav-link {
  color: var(--title-text-color);
  text-decoration: none;
  list-style: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link :active {
  color: var(--accent-color);
}

.connection-nav-link {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.connection-nav-link:hover,
.connection-nav-link:focus,
.connection-nav-link:active {
  color: var(--accent-color);
}

.connection-icon {
  width: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.connection-icon.tel {
  margin-right: 10px;
  fill: currentColor;
}

/***************** Site buttons ************/

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.button-list .item:not(:last-child) {
  margin-right: 8px;
}
.button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
}

.button.active {
  color: var(--primery-waite-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.button.active:hover,
.button.active:focus,
.button.active:active {
  background-color: #1a8feb;
  color: var(--primery-waite-color);
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--accent-color);
  color: var(--primery-waite-color);
}

.hero-button {
  color: var(--primery-waite-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  padding: 10px 32px;
}
.hero-button:focus,
.hero-button:hover,
.hero-button:active {
  background-color: #1a8feb;
  color: var(--primery-waite-color);
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-accent {
  color: #000000;
}

/************** Hero section ************/

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0px;
}

.hero-title {
  color: var(--primery-waite-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 30px;
}

/************ Section headings  ************/

.features,
.specialty,
.team,
.customers {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

/**************** Features section *************/

.features-list {
  display: flex;
  align-content: center;
}

.features-list .features-item + .features-item {
  margin-left: 30px;
}
.features-item {
  width: 270px;
}
.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.features-text {
  color: var(--primery-text-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}
.features-icon-list {
  display: flex;
  justify-content: center;
}
.features-icon-item {
  width: 270px;
  height: 120px;
  margin-right: 30px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}
.features-icon-list .features-icon-item:last-child {
  margin-right: 0px;
}
.features-icon {
  display: block;
  background-position: center;
  margin: 25px auto;
}
/************** Specialization section *************/

.specialty-list {
  display: flex;
  justify-content: space-between;
}

/************* Team section ***************/

.section-specialty {
  padding-top: 0px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-item {
  width: calc(100%-90px) / 4;
  margin-right: 30px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:nth-child(4) {
  margin-right: 0px;
}
.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}
.card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-item {
  margin-right: 10px;
}
.card-link .card-item:last-child {
  margin-right: 0px;
}
.card-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: block;
  color: var(--icon-color);
}
.card-link:hover {
  color: var(--primery-waite-color);
  background-color: var(--accent-color);
}
.card-link .icon {
  fill: currentColor;
  margin: 12px auto;
}
/*************** Customers section **************/
.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers-link {
  width: 170px;
  height: 92px;
  display: block;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}
.customers-link:hover,
.customers-link:focus,
.customers-link:active {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.customers-item {
  margin-right: 30px;
}
.customers-list .customers-item:last-child {
  margin-right: 0px;
}
.customers-icon {
  display: block;
  margin: 16px auto;
  fill: currentColor;
}

/***************** Footer section  ***************/

.footer-section {
  height: 252px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--primery-waite-color);
}
.footer-link-address {
  color: var(--primery-waite-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-link-address:hover,
.footer-link-address:focus,
.footer-link-address :active {
  color: var(--accent-color);
}
.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  color: var(--accent-color);
}
.address {
  margin-top: 20px;
}
.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.container.footer {
  display: flex;
  align-items: baseline;
}
.footer-address {
  margin-right: 70px;
}

.subscribe-list {
  display: flex;
  width: 206px;
  justify-content: center;
  align-items: center;
}
.subscribe-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-waite-color);
}
.subscribe-item {
}
.subscribe-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.subscribe-link:hover,
.subscribe-link:active,
.subscribe-link:focus {
  background-color: var(--accent-color);
}
.subscribe-list .subscribe-item:last-child {
  margin-right: 0px;
}
.subscribe-item {
  margin-right: 10px;
}
.subscribe-link-icon {
  fill: var(--primery-waite-color);
  margin: 12px 12px 12px 12px;
}

/************* Work examples section **************/

.project-list {
  display: flex;
  flex-wrap: wrap;
}
.project-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.project-link.shadow {
  width: 370px;
  display: block;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-item:nth-child(3n) {
  margin-right: 0px;
}
.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-link {
  text-decoration: none;
}

.project-link:hover,
.project-link:focus,
.project-link:active {
  color: var(--accent-color);
}
.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.8;
}
.progect-card {
  padding: 20px 24px;
}
