:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-waite-color: #ffffff;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

img {
  height: auto;
  display: block;
  min-width: 100%;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page {
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.section__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/************** Navigation section ***************/
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header.portfolio {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.navigation .navigation__item:not(:last-child) {
  margin-right: 50px;
}
.connection {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.container.header__container {
  display: flex;
  align-items: center;
}
.connection .connection__item + .connection__item {
  margin-left: 30px;
}
.navigation__item {
  position: relative;
}
.navigation__link.navigation__link--active {
  color: var(--accent-color);
}
.navigation__link.navigation__link--active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.navigation__link {
  display: inline-block;
  color: var(--title-text-color);
  text-decoration: none;
  list-style: none;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
  color: var(--accent-color);
}

.connection__link {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection__link:hover,
.connection__link:focus,
.connection__link:active {
  color: var(--accent-color);
}

.connection__icon {
  margin-right: 10px;
  fill: currentColor;
}

/***************** Site buttons ************/

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-list .button-list__item:not(:last-child) {
  margin-right: 8px;
}
.button {
  color: var(--title-text-color);
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: #f5f4fa;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.active {
  color: var(--primery-waite-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--accent-color);
  color: var(--primery-waite-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.hero__button {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: var(--primery-waite-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:focus,
.hero__button:hover {
  background-color: #1a8feb;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.main-nav__logo {
  color: #000000;
}

/************** Hero section ************/

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0px;
}

.hero__title {
  color: var(--primery-waite-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 30px;
}

/************ Section headings  ************/

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

/**************** Features section *************/

.features {
  display: flex;
  align-content: center;
}

.features .features__item + .features__item {
  margin-left: 30px;
}
.features__item {
  width: 270px;
}
.features__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.features__text {
  color: var(--primery-text-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}
.features__img {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

/************** Specialization section *************/

.specialty-list {
  display: flex;
  justify-content: space-between;
}
.specialty-list__item {
  position: relative;
}
.specialty-list__title {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-waite-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/************* Team section ***************/

.section--top {
  padding-top: 0px;
}
.team {
  display: flex;
  flex-wrap: wrap;
}
.team__item {
  width: calc(100%-90px) / 4;
  margin-right: 30px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:nth-child(4) {
  margin-right: 0px;
}
.section--gray {
  background-color: #f5f4fa;
}

.card__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.card__text {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}
.card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.card__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__item {
  margin-right: 10px;
}
.card__link .card__item:last-child {
  margin-right: 0px;
}
.card__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  color: var(--icon-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover,
.card__link:focus {
  color: var(--primery-waite-color);
  background-color: var(--accent-color);
}
.card__icon {
  fill: currentColor;
}
/*************** Customers section **************/
.customers {
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  color: var(--icon-color);
  align-items: center;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover,
.customers__link:focus,
.customers__link:active {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.customers__item {
  margin-right: 30px;
}
.customers__list .customers__item:last-child {
  margin-right: 0px;
}
.customers__icon {
  fill: currentColor;
}

/***************** Footer section  ***************/

.footer-section {
  height: 252px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address__logo {
  color: var(--primery-waite-color);
}
.address__link {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover,
.address__link:focus,
.address__link:active {
  color: var(--accent-color);
}

.address__link--waite {
  color: var(--primery-waite-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  margin-top: 20px;
}
.address__list .address__item:not(:last-child) {
  margin-bottom: 9px;
}

.container.footer {
  display: flex;
  align-items: baseline;
}
.footer-address {
  margin-right: 70px;
}

.subscribe__list {
  display: flex;
  width: 206px;
  justify-content: center;
  align-items: center;
}
.subscribe__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-waite-color);
}

.subscribe__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__link:hover,
.subscribe__link:active,
.subscribe__link:focus {
  background-color: var(--accent-color);
}
.subscribe__list .subscribe__item:last-child {
  margin-right: 0px;
}
.subscribe__item {
  margin-right: 10px;
}
.subscribe__icon {
  fill: var(--primery-waite-color);
}
.form-subscribe {
  margin-left: auto;
}
.form-subscribe__container {
  display: flex;
  align-items: center;
}
.form-subscribe__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-waite-color);
}
.form-subscribe__mail {
  width: 358px;
  min-height: 50px;
  background-color: transparent;
  margin-right: 12px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--primery-waite-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscribe__mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__mail:focus {
  border-color: var(--accent-color);
}
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;
  cursor: pointer;
  color: var(--primery-waite-color);
  background-color: var(--accent-color);
  border-color: transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.subscribe-button__icon {
  margin-left: 10px;
}

/************* Work examples section **************/

.project {
  display: flex;
  flex-wrap: wrap;
}
.project__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project__item:nth-child(3n) {
  margin-right: 0px;
}
.project__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover,
.project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-card__text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.8;
}
.project-card {
  padding: 20px 24px;
}

.project__overlay {
  position: relative;
  overflow: hidden;
}
.project__text-overlay {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.5;
  color: var(--primery-waite-color);
  padding: 64px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .project__text-overlay,
.project__link:focus .project__text-overlay {
  transform: translateY(0);
}

/************ Modal window***************/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;

  background-color: var(--primery-waite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button {
  position: absolute;

  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000000;
  background-color: var(--primery-waite-color);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: var(--accent-color);
}
.form {
  padding: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.form__field {
  position: relative;
  margin-bottom: 10px;
}
.form__label {
  display: block;
  width: 100%;
  margin-bottom: 4px;
}
.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: var(--accent-color);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment {
  display: block;
  margin-bottom: 4px;
}
.check {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form__text {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment {
  margin-bottom: 20px;
}
.modal__text:focus {
  border-color: var(--accent-color);
}
.modal__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.check__text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.check__box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__input:checked + .check__text .check__box-icon {
  background-color: var(--accent-color);
  border-color: transparent;
}

.submit-button {
  width: 200px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  color: var(--primery-waite-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

.check__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primery-waite-color);
}
