.footer-section {
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container.container--footer {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.container-address {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.address__link {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }
}

.address__link--waite {
  color: $primery-waite-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  margin-top: 20px;
}
.address__list .address__item:not(:last-child) {
  margin-bottom: 8px;
}
