.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header.heder--border {
  border-bottom: 1px solid #ececec;
}
.container.header__container {
  position: relative;
  display: flex;
  align-items: center;
}
