.logo {
  color: $accent-color;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.main-nav__logo {
  color: #000000;
}
.footer-address__logo {
  color: $primery-waite-color;
}
