.navigation {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 93px;
  }
}
.connection-container {
  @media screen and (min-width: 768px) {
    margin-left: auto;
    display: flex;
  }
}
.connection {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
    flex-direction: row;
    text-align: center;
    margin-left: auto;

    & .connection__item + .connection__item {
      margin-left: 30px;
      margin-top: 0px;
    }
  }
}
.connection__item {
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}
.connection__link {
  display: inline-block;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  align-items: center;

  color: $primery-text-color;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    @media screen and (max-width: 1199px) {
      &.connection__link--padding-top {
        padding-top: 21px;
      }
      &.connection__link--padding-bottom {
        padding-bottom: 19px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;

    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.connection__icon {
  @media screen and (max-width: 767px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 10px;
    fill: currentColor;
  }
}

.navigation__item {
  @media screen and (min-width: 768px) {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.navigation__link.navigation__link--active {
  color: $accent-color;

  @media screen and (min-width: 768px) {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      left: 0;
      bottom: 0px;
      border-radius: 2px;
      background-color: $accent-color;
    }
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;

  letter-spacing: 0.02em;

  display: block;
  color: $title-text-color;
  text-decoration: none;
  list-style: none;
  margin-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
  }
}
.menu-container {
  width: 100%;
  display: flex;

  @media (max-width: 767.98px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    width: 100vw;
    height: 100vh;
    padding: 48px 15px 48px 40px;

    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    transform: translateY(-101%);

    &.is-open {
      transform: translateY(0);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-end;
  }
  &.menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & .menu-toggle__icon :hover,
    & .menu-toggle__icon :focus,
    & .menu-toggle__icon :active {
      color: $accent-color;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & .menu-toggle__icon :hover,
  & .menu-toggle__icon :focus,
  & .menu-toggle__icon :active {
    color: $accent-color;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;

  position: absolute;
  top: 10px;
  right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & .menu-toggle__icon :hover,
  & .menu-toggle__icon :focus,
  & .menu-toggle__icon :active {
    color: $accent-color;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.menu-toggle__icon {
  fill: currentColor;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (min-width: 768px) {
    display: none;
  }
}

.social__item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
}
.social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  padding-right: 10px;
  text-decoration: none;

  color: $accent-color;

  letter-spacing: 0.02em;
  &.social__link--no-padding {
    padding-right: 0px;
  }
}
