.project {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.project__item {
  background: #ffffff;
  border: 1px solid #eeeeee;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.project__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .project__text-overlay,
  &:focus .project__text-overlay {
    transform: translateY(0);
  }
}

.project-card__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-card__text {
  color: $primery-text-color;
  font-size: 16px;
  line-height: 1.9;
}
.project-card {
  padding: 20px 24px;
}

.project__overlay {
  position: relative;
  overflow: hidden;
}
.project__text-overlay {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.5;
  color: $primery-waite-color;
  padding: 64px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
