.card__list {
  @extend %centerflex;
}
.card__item {
  margin-right: 10px;
  .card__link &:last-child {
    margin-right: 0px;
  }
}

.card__link {
  @extend %social-network-link;

  color: $icon-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primery-waite-color;
    background-color: $accent-color;
  }
}

.card__icon {
  fill: currentColor;
}
