%centerflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%social-network-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
